<template>
  <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow" />
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Connectez vous
        </h2>
      </div>
      <p v-if="errors.length">
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </p>
      <form @submit="checkForm" class="mt-8 space-y-6" method="POST">
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="email-address" class="sr-only">Adresse email</label>
            <input v-model="email" id="email-address" name="email" type="email" autocomplete="email" required="true" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Adresse email" />
          </div>
          <div>
            <label for="password" class="sr-only">Mot de passe</label>
            <input v-model="password" id="password" name="password" type="password" autocomplete="current-password" required="true" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Mot de passe" />
          </div>
        </div>
        <div>
          <button type="button" @click="checkForm" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <LockClosedIcon class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" aria-hidden="true" />
            </span>
            Connexion
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { LockClosedIcon } from '@heroicons/vue/solid'
import { defineComponent } from 'vue';
import AuthService from '../services/AuthService'
import UserService from '../services/UserService';

export default defineComponent({
  components: {
    LockClosedIcon,
  },
  data() {
    return {
      email: '',
      password: '',
      errors: ['']
    }
  },
  methods:{
    checkForm(): boolean {
      this.errors = [];

      if (this.email && this.password) {
        this.signUser(this.email, this.password);
        return true;
      }

      if (!this.email) {
        this.errors.push('L\'email est requis.');
      }
      if (!this.password) {
        this.errors.push('Le mot de passe est requis.');
      }

      return false;
    },
    signUser(email: string, password: string): void {
      AuthService.login(email, password)
        .then(response => {
          UserService.setSession(response.data);
          this.$router.push(this.$route.query.redirect as string || '/');
        })
        .catch(error => {
          if (error.response) {
            if (error.response.status === 422) {
              this.errors.push('Email ou mot de passe invalides.');
            } else {
              this.errors.push('Une erreur est survenue.');
            }
          }
        });
    }
  }
})
</script>
